<!DOCTYPE html>
<html>
<head>
  <title>{{title}}</title>
</head>
<body>
<canvas id="canvas" ></canvas>
</body>
</html>
<script type="module" src="/js/link/paint.js"></script>
<style>

  body {
    /*width: 100%;*/
    /*height: 100%;*/
    background: black;
  }

  #canvas {
    /*width: 1000px;*/
    /*height: 1000px;*/
  }

</style>
